body {
  font-family: 'Inter', sans-serif;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.logo{
    margin-top: 14px;
    margin-left: -105px;
}

.menu{
    margin-top: 47px;
    margin-right: -40px;
}
h1 {
  font-size: 96px;
  line-height: 90px;
  font-weight: 700;
}

.portfolio {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}

.chisono{
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 22px; 
}

.origini{
width: 517px;
height: 229px;
flex-shrink: 0;
color: #000;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
  margin-bottom: 111px;
}

.btn:hover {
  background-color: #333;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* FASCE */
.sfondo {
  background-color: #D9D9D9;
  padding: 80px 0;
}

.immaginefiore img {
  width: 100%;
  display: block;
}

.immaginedesigner img {
  height: 400px;
  width: 670px;
  margin-bottom: 50px;
}



